<%- include('partials/header') -%>
<h1>Welcome, <%= user.userName %>!</h1>
<a href="/ingredients">Inventory</a>
<a href="/recipeBook">Recipe Book</a>
<a href="/logout">Log out</a>
<%- include('partials/footer') -%>