<%- include('partials/header') -%>
    <h1>Recipe Calculator & More</h1>
    <p>Go to your <a href='ingredients'>inventory</a> to add or select ingredients.</p>
    <p>Take your selected ingredients to the <a href='calculator'>calculator</a>, where you can balance your ganache recipe.</p>
    <p>Then, if you wish, save it to your <a href='recipeBook'>recipe book</a>.</p>
    <p>From there you can create a <a href='menu'>menu</a> for production day, specifying the yield you need for each recipe.</p>
    <p>You'll be alerted if you don't have enough in your inventory of any ingredients so that you can stock up.</p>
    <p>Once you mark a menu item as done, the inventory amounts will be adjusted accordingly and you'll be notified again of anything you may have run out of.</p>
    <br>
    <p>This page will soon contain sign up/log in options.</p>
<%- include('partials/footer') -%>