<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Recipe Calculator & More</h1>
    <p>Go to your <a href='ingredients.ejs'>inventory</a> to add or select ingredients.</p>
    <p>Take your selected ingredients to the <a href='calculator.ejs'>calculator</a>, where you can balance your ganache recipe.</p>
    <p>Then, if you wish, save it to your <a href='recipeBook.ejs'>recipe book</a>.</p>
    <p>From there you can create a <a href='menu.ejs'>menu</a> for production day, specifying the yield you need for each recipe.</p>
    <p>You'll be alerted if you don't have enough in your inventory of any ingredients so that you can stock up.</p>
    <p>Once you mark a menu item as done, the inventory amounts will be adjusted accordingly and you'll be notified again of anything you may have run out of.</p>
    <br>
    <p>This page will soon contain sign up/log in options.</p>
    <span id="testing">Can anybody hear meeeeee</span>
    <script src="js/main.js"></script>
</body>
</html>